name: (▶) Create Release

on: workflow_dispatch

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # There is a limitation of workflow: An action in a workflow
          # run can’t trigger a new workflow run.
          # But this is needed here so that the created tag can trigger
          # the create-github-release-draft that is triggered on every new tag.
          # Solution is a explizit token: https://github.com/orgs/community/discussions/25617
          token: ${{ secrets.BOT_PAT }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Release
        run: |

          git config --global user.email sitepark-bot
          git config --global user.name opensource@sitepark.com

          pnpm install
          pnpm package
          dist/cli.js release --package-manager pnpm
          git push --tags
